<%- include('partials/header') %>

    <div class="container-fluid main">
        <div class="container-fluid contents">


            <h1 class="titleText">
                <%= authPageTitle %>
            </h1>

        <form class="flex flex-col" method="post" action="/hostelauth">
            <div class="flex flex-col">
                <label class="text-lg justify-self-start">Username</label>
                <input type="text" name="username" class="border-2 rounded" required value=<%=filledUsername %>>
            </div>
            <div class="flex flex-col">
                <label class="text-lg justify-self-start">Password</label>
                <input type="password" name="password" class="border-2 rounded" required>
            </div>
            <button type="submit" class="btn btn-danger" id="auth-submit-button">Login</button>
        </form>

        <% if(messageText !="" ){ %>
            <div class="alert alert-danger" role="alert">
                <%= messageText %>
            </div>
        <% } %>  

        
        
    </div>

</body>

</html>