<%- include('partials/header') %>

<body>
    <div>
        <img class="logo" src="images/logo.png" alt="logo">
    </div>
    <div class="container-fluid main">
        <div class="container-fluid contents">

            <h1 class="titleText">Smart Out Pass Creation</h1>
            <form action="/" method="post">
                <div class="buttonClass">
                    <button class="btn btn-danger" name="buttonData" value="hostel" type="submit">Hostel</button>
                    <button class="btn btn-danger" name="buttonData" value="guard" type="submit">Guard</button>
                </div>
            </form>
            
        </div>
    </div>

</body>

</html>